---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const pageTitle = "我的 astro 博客";

const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true }),
);
---

<BaseLayout pageTitle={pageTitle}>
  <p>这里我将分享我的学习之旅</p>
  <ul>
    {
      allPosts.map((post: any) => (
        <BlogPost title={post.frontmatter.title} url={post.url} />
      ))
    }
  </ul>
</BaseLayout>
