---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import BlogPost from "../components/BlogPost.astro";
const pageTitle = "我的 astro 博客";

const allPosts = await getCollection("blog");
---

<BaseLayout pageTitle={pageTitle}>
  <p>这里我将分享我的学习之旅</p>
  <ul>
    {
      allPosts.map((post: any) => (
        <BlogPost title={post.data.title} url={`/posts/${post.id}`} />
      ))
    }
  </ul>
</BaseLayout>
