---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "首页";
---

<BaseLayout pageTitle={pageTitle}>
	<p>
		Hello, 大家好，我是 Newcode Wen， 大家也可以叫我牛马文，或者牛码文，
		我希望自己写的代码很牛
	</p>
</BaseLayout>
